@charset "utf-8";
/* CSS Document */
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../assets/intro_10.png");
  min-height: 400px;
}

/*.bgimg-2 {
  background-image: url("img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}*/

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #520001;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
p {
	text-align: center;
  color: #47090A;
}
	/*Nav Bar*/

.navbar { 
	position: absolute;
    left: 0px;
    height: 40px;
    
    width: 100%;
    display: flex;
    justify-content: center;
}
/*#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Wellfleet"; font-weight: bold; }*/
.navbar ul{
	list-style: none;
	display: inline-block;
	margin: 0 auto;
	list-style: none;
}
.navbar a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar li{
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}
.navbar li a { 
	color: #fff; 
	opacity:0.6; 
	font-size: 16px; 
	text-decoration: none; 
	font-family: "Lato", sans-serif /*'Wellfleet'*/
	font-weight: bold; 
}
.navbar li a.active {
	color: #fff; 
	opacity:1; 
	border-bottom: 2px solid #fff; 
}
.navbar li a:hover { 
	color: #fff; 
	opacity:1; 
}
/*Recipe Video watch*/
.recipe-img-container {
	display: flex;
	justify-content: center;
    position: relative;
	width: "50%";
}
.recipe-image {
    opacity: 1;
    display: block;
    width: 55%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.recipe-img-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.recipe-img-container:hover .recipe-image {
    opacity: 0.3;
}  
.recipe-img-container:hover .recipe-img-text {
    opacity: 1;
}
/*Recipe Text*/
/* Create two equal columns that floats next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}
strong {
	color: #118E13;
}

/*CSS Grid and Posts*/
.grid-container {
	padding-top: 20px;
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-row-gap: 20px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
