@charset "utf-8";
/* CSS Document */

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
/*Backgrounds*/
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../assets/intro_10.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../assets/spices_RZ.jpg");
  min-height: 400px;
}
/*Text on image*/
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #520001;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 7px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
p {
  text-align: center;
  color: #47090A;
  font: "Lato", sans-serif;
}
.carousel-caption h5 {
  font: 20px "Lato", sans-serif;
  color: whitesmoke;
}
.carousel-caption p {
  font: 14px "Lato", sans-serif;
  color: whitesmoke;
}
/*Show me everything button*/
.show-me-everything {
  float: right;
}
.show-me-everything a {
  text-decoration: none;
  font: 1em "Lato", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;/*8px 16px;*/
}
.show-me-everything a:hover {
  background-color: #ddd;
  text-decoration: none;
  color: black;
}
.show-me-everything .next {
  background-color: #47090A;
  color: white;
}
.show-me-everything .round {
  border-radius: 45%;
}
	/*Nav Bar*/

.navbar { 
	position: absolute;
    left: 0px;
    height: 40px;
    
    width: 100%;
    display: flex;
    justify-content: center;
	
}

.navbar ul{
	list-style: none;
	display: inline-block;
	margin: 0 auto;
	list-style: none;
	text-shadow: 2px 2px #000000;
}
.navbar a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar li{
	margin-top: 9px;
	float: left;
	padding-left: 21px;
}
.navbar li a { 
	color: #fff; 
	opacity:0.6; 
	font-size: 16px; 
	text-decoration: none; 
	font-family: "Lato", sans-serif;
	font-weight: bold; 
}
.navbar li a.active {
	color: #fff; 
	opacity:1; 
	border-bottom: 2px solid #fff; 
}
.navbar li a:hover { 
	color: #fff; 
	opacity:1; 
}
/*Subscribe form*/

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
